<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="DATASOURCE" connectionString="Data Source=.;Initial Catalog=TWO;User Id=sa;Password=Grshades1;" providerName="System.Data.SqlClient"/>
    <add name="GOLD_DATASOURCE" connectionString="Data Source=.;Initial Catalog=Workspaces;User Id=sa;Password=1qaz@WSX;" providerName="System.Data.SqlClient"/>
    <add name="SYNC_MODEL_DATASOURCE" connectionString="Data Source=.;Initial Catalog=Workspaces_develop;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
